@import "bootstrap/scss/bootstrap";


body {
  background-color: rgb(232, 233, 224) !important;
  color: #333333 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.navbar-brand {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-weight: 400;
  font-size: 30px !important;
  color: rgb(192, 233, 192) !important;
}

.nav-item .nav-link {
  color: #EA738DFF !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.center {
  text-align: center;
}

.col-6 {
  h3 {
    font-size: 48px;
  }
  h5 {
    font-size: 28px;
  }
  p {
    font-size: 21px;
  }
}

